<html>
    <head>
        <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="static/js/socket.io.min.js"></script>
        <script type="text/javascript" src="static/js/application.js"></script>

        <link rel="stylesheet" href="static/css/bootstrap.min.css">

        <title>Lodestar BEXUS Control Panel</title>
    </head>
    <body>
        <h1>Lodestar BEXUS Ground Support</h1>
        <h3>Voltage 1</p>
        <p id="v1"></p>
        <h3>Current 1</p>
        <p id="i1"></p>
        <h3>Voltage 2</p>
        <p id="v2"></p>
        <h3>Current 2</p>
        <p id="i2"></p>
    </body>
</html>
