<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="static/js/socket.io.min.js"></script>
        <script type="text/javascript" src="static/js/application.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

        <link rel="stylesheet" href="static/css/bootstrap.min.css">

        <title>Lodestar BEXUS Control Panel Graphhhhzzz</title>

      <style>
        canvas {
          width: 700px !important;
          height: 500px !important;
        }
      </style>
    </head>
    <body>
        <h1>Lodestar BEXUS Ground Support</h1>
        <input id="goto_input" type="number" class="form-control"></input><button id="goto_button" type="button" class="btn btn-primary">Goto</button>
        <button id="prev_button" type="button" class="btn btn-primary">Previous</button>
        <button id="next_button" type="button" class="btn btn-primary">Next</button>
        <div>Time: <span id="time">____</span> s</div>
        <div>Temperature: <span id="temp">____</span> °C</div>
        <div>Radiation: <span id="rad">____</span> counts/min</div>
        <div>Frame: <span id="frame_nr">____</span></div>
        <div>Time since last frame: <span id="time_since_last">0</span> s</div>

    <canvas id="chart1"></canvas>
    <canvas id="chart2"></canvas>
    <canvas id="chart3"></canvas>
    <canvas id="chart4"></canvas>
    <canvas id="chart5"></canvas>
    <canvas id="chart6"></canvas>

    </body>
</html>
